* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}
ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

.header {
  color: white;
  padding: 3rem;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background: #a5ed6e;
}
.content__heading {
  color: #4b4b4b;
  font-size: 2rem;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: #777;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
}

.menu .active {
  color: #fff;
}

.menu li a:hover {
  color: #58cc02;
  transition: all 0.2s ease-in-out;
}

.menu-hidden {
  padding: 3rem 1rem;
  width: 40%;
  left: -40%;
  height: 100vh;
  background: #58cc02;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
  /* display: none; */
}

.menu-visible {
  left: 0 !important;
  transition: all 0.3s ease-in-out;
}

.menu-hidden li {
  text-align: center;
  padding: 1rem 0;
}

.menu-hidden li a {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  display: block;
}

.content {
  padding: 2rem;
  display: flex;
  width: 100%;
}

.content .content-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 18%;
}

.content .content-main {
  justify-content: center;
  padding: 2rem 1rem;
  width: 60%;
}

.content .content-main .product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
  width: 100%;
  padding: 2rem 0;
}

.content .content-main .product-item {
  display: flex;
  padding: 2.875rem 2.76188rem 2.72563rem 2.77375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-item .product-title {
  color: #4b4b4b;
  font-size: 2rem;
  margin: 2rem 0 0.6rem 0;
}

.product-item .product-sub {
  color: #777;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.6rem;
}

.content .content-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  flex-grow: 1;
}

.footer {
  color: white;
  background-color: #58cc02;
  display: flex;
  justify-content: center;
}

.footer .footer-content {
  width: 60%;
  display: flex;
  padding: 4rem 0;
  flex-wrap: wrap;
}

.footer .footer-content .footer-col {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2rem;
}

.footer .footer-content .footer-col .footer-list {
  max-height: 10rem;
  overflow: auto;
}

.footer .footer-content .footer-col .footer-list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.footer-col .footer-heading {
  color: #d7ffb8;
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

.footer-col li {
  margin-bottom: 0.5rem;
}

.footer-col li a {
  color: #a5ed6e;
  font-size: 1rem;
}

.footer-col li a:hover {
  color: #d7ffb8;
  transition: all 0.2s ease-in-out;
}

/* large screen */
@media screen and (max-width: 1200px) {
  .content .content-nav,
  .content .content-sidebar {
    visibility: hidden;
  }

  .content .content-main {
    width: 100%;
    padding: 1rem;
  }

  .content .content-main .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .footer-content {
    width: 80%;
  }
  .footer .footer-content .footer-col {
    width: 33.33%;
    text-align: center;
  }
}
/* tablet */
@media screen and (max-width: 700px) {
  .content .content-nav,
  .content .content-sidebar,
  .menu {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }

  .content .content-main {
    width: 100%;
    padding: 1rem;
  }

  .content .content-main .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .footer-content {
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .footer .footer-content .footer-col {
    width: 50%;
    text-align: center;
  }
}

/* phone */
@media screen and (max-width: 576px) {
  .content .content-main .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .footer-content .footer-col {
    width: 100%;
    text-align: center;
  }
  .menu-hidden {
    width: 100%;
    left: -100%;
  }
}
